body {
    font-family: Arial, sans-serif;
    background-color: #8c4545;
}

.container {
    width: 500px;
    margin: 30px auto;
    background-color: rgb(152, 151, 239);
    padding: 20px;
    border-radius: 8px;
}

/* Heading */
.subheading {
    text-align: center;
    color: rgb(255, 255, 255);
}

/* Form section */
.section {
    text-align: center;
}

/* Inputs & select */
input[type="text"],
input[type="email"],
select {
    width: 80%;
    padding: 8px;
    margin: 8px 0;
}

/* Radio buttons */
input[type="radio"] {
    width: auto;
    margin: 0 5px;
}

/* Buttons */
input[type="submit"],
input[type="reset"] {
    background-color: rgba(181, 230, 148, 0.322);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 15px;
    margin: 10px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}
