h1.head {
    text-align: center;
    color: darkblue;
    font-family: Georgia;
    font-size: 40px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: darkblue;
    font-family: Georgia, serif;
}

.subheading {
    background-color: lightyellow;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.section {
    background-color: #f2f2f2;
    text-align: center;
}


.section p {
    font-size: 18px;
    color: rgb(255, 0, 0);
}

.event-list {
    color: brown;
    font-size: 20px;
    list-style-type: disc;
}

.event-list li {
    margin: 12px 0;
}

.event-list li a {
    text-decoration: none;
    color: brown;
}

.event-list li a:hover {
    color: rgb(47, 255, 0);
}

#bg-section {
    background-color: lightblue;
    padding: 15px;
    margin-top: 10px;
}
